<?xml version="1.0"?>

<config>
    <modules>
        <Webfrnd_QuickContact>
            <version>0.1.0</version>
        </Webfrnd_QuickContact>
    </modules>
    <frontend>
        <routers>
            <quickcontact>
                <use>standard</use>
                <args>
                    <module>Webfrnd_QuickContact</module>
                    <frontName>wf_quickcontact</frontName>
                </args>
            </quickcontact>
        </routers>       
        <layout>
            <updates>
                <quickcontact>
                    <file>webfrnd_quickcontact.xml</file>
                </quickcontact>
            </updates>
        </layout>
		<translate>
			<modules>
				<Webfrnd_QuickContact>
					<files>
						<default>Webfrnd_QuickContact.csv</default>
					</files>
				</Webfrnd_QuickContact>
			</modules>
		</translate>
    </frontend>
    <global>
		<blocks>
			<quickcontact>
				<class>Webfrnd_QuickContact_Block</class>
			</quickcontact>
		</blocks>
		<models>
			<quickcontact>
				<class>Webfrnd_QuickContact_Model</class>
			</quickcontact>
		</models>
		<helpers>
			<quickcontact>
				<class>Webfrnd_QuickContact_Helper</class>
			</quickcontact>
		</helpers>
        <resources>
            <quickcontact_setup>
                <setup>
                    <module>Webfrnd_QuickContact</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quickcontact_setup>
        </resources>
        <template>
            <email>
                <quickcontact_email_email_template translate="label" module="quickcontact">
                    <label>Contact Form</label>
                    <file>quickcontact_form.html</file>
                    <type>text</type>
                </quickcontact_email_email_template>
            </email>
        </template>
    </global>

    <adminhtml>     
		<translate>
			<modules>
				<Webfrnd_QuickContact>
					<files>
						<default>Webfrnd_QuickContact.csv</default>
					</files>
				</Webfrnd_QuickContact>
			</modules>
		</translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <webfrnd_quickcontact_options translate="title" module="quickcontact">
                                            <title>Quick Contacts Section</title>
                                        </webfrnd_quickcontact_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <webfrnd_quickcontact_options>            
            <general>
				<module_enable>1</module_enable>
				<jquery>0</jquery>
				<display_form>1</display_form>
				<box_width>580</box_width>
				<box_height>350</box_height>
				<form_top_margin>0</form_top_margin>
				<form_left_margin>0</form_left_margin>
				<autoload_after>0</autoload_after>				
            </general>
        </webfrnd_quickcontact_options>
    </default>
</config>
